{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":760,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":103,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":62,"state":"start","mode":"ace/mode/text"}},"timestamp":1743737125031,"hash":"79c691acd9d826530d4c35132829b48195c43fd3"}